body {
  background-color: #191919;
  font-family: "Roboto";
  line-height: 1.5rem;
}

header {
  background-color: #34a5da;
  height: 100px;
}

main {
  background-color: #838787;
  max-width: 80vw;
  margin: 100px auto;
  padding: 20px 50px;
}

h1 {
  font-size: 2em;
  padding-bottom: 20px;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

section {
  padding: 10px 0;
}

li {
  padding-left: 20px;
}

aside {
  float: right;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  padding: 40px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a.left {
  float: left;
}

a.right {
  float: right;
}

button {
  background-color: #34a5da;
  border: 1px solid #191919;
  border-radius: 15px;
  margin: 0 5px;
  padding: 5px 10px;
  min-width: 50px;
}

nav > button {
  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  color: black;
  font-size: 1em;
  padding: 0;
  margin: 0;
}
